*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img{
    max-width:100%;
    max-height: 100%;
}
a{
    text-decoration: none;
}
.rgb153{
    color: rgb(153,153,153);
}
.rgb102{
    color: rgb(102,102,102);
}