*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    width: 6.67rem;
    margin: 0 auto;
}
img{
    max-width:100%;
    max-height: 100%;
}
a{
    text-decoration: none;
}
.rgb153{
    color: rgb(153,153,153);
}
.rgb102{
    color: rgb(102,102,102);
}
/*使用图片作为a标签的点击按钮时，当触发touchstart的时候，往往会有一个灰色的背景*/
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
/*取消a标签在移动端点击时的蓝色*/
a{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}
/*去除ios input框点击时的灰色背景*/
input{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}